#certification {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 90%;
    margin: 30px auto 0px auto;
}

@media screen and (max-width: 800px) {
    #certification {
        max-width: none;
        align-items: flex-start;
        padding-bottom: 75px;
        margin: 10px 10px 0px 10px;
    }
}


#certification-introduction {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0px 15px;
}

#certificates-container {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 60px;
    row-gap: 40px;
}

@media screen and (max-width: 800px) {
    #certificates-container {
        width: calc(100% - 20px);
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 10px;
        gap: 35px;
    }
}

.certificate {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.certificate-body {
    color: #4659a0;
    font-family: "Mukta-Med";
    cursor: pointer;
}