#contact-information {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 800px) {
    #contact-information {
        align-items: flex-start;
        padding-bottom: 75px;
    }
}

#contact-introduction { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 800px) {
    #contact-title {
        align-self: flex-start;
    }
}

#contact-description {
    text-align: center;
    padding: 0 10px;
}

.contact-methods {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    justify-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .contact-methods {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        width: calc(100% - 60px);
        margin-top: 10px;
        padding: 0 30px;
    }
}


.method {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact-icon {
    font-size: 25px !important;
    color: #394982 !important;
}

#enquiry-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 0px 10px;
    width: calc(100% - 20px);
}

#enquiry-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

}

.text-input {
    width: calc(100% - 20px);
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    color: #707070;
    font-family: "Mukta-Light", serif;
}

.text-input-invalid {
    border-color: red;
}

.enquiry-input {
    height: 40px;
    padding: 0px 5px;
}

#message-input {
    height: 200px;
    padding: 5px;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

#submit-enquiry-form {
    align-self: flex-end;
    margin-top: 10px;
}