#contact-information {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    gap: 10px;
}

.contact-methods {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
}

.method {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#enquiry-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.text-input {
    width: 90vw;
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    color: #707070;
    font-family: "Mukta-Light", serif;
}

.enquiry-input {
    height: 40px;
    padding: 0px 5px;
}

#message-input {
    height: 200px;
    padding: 5px;
    font-size: 1.4rem;
    line-height: 1.6rem;
} 