#customer-testimonials {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    #customer-testimonials {
        align-items: flex-start;
        padding-bottom: 75px;
    }
}

#customer-testimonial-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

@media screen and (max-width: 800px) {
    #customer-testimonial-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.customer-testimonial {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.customer-review-bold-text {
    font-family: "Mukta-Reg" ;
}