#header {
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-logo {
    width: 100px;
}

#header-title {
    margin-left: 5px;

}

#header-menu-icon {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}