#header {
    height: 125px;
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#header-logo {
    width: 200px;
}

#header-title {
    margin-left: 10px;

}

#header-menu-icon {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}