#home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #394982;
    color: white; 
    padding: 25px 35px;
}

#introduction-text {
    text-align: center;
    line-height: 20px;
    padding-bottom: 30px;
}

#principles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.principle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.principle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principle-icon-container {
    margin-right: 20px;
}

.principle-icon {
    width: 50px;
}

.principle-description {
    text-align: center;
    line-height: 15px;
    margin: 0px 30px;
}

#pound-icon {
    height: 55px;
    width: 40px;
}

#customer-satisfaction-text{
    display: none;
}

#excellent-results-text {
    display: none;
}

#competitive-pricing-text{
    display: none;
}

#reliability-text{
    display: none;
}

#why-choose-castle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#why-description {
    line-height: 20px;
    padding: 0px 30px;
    text-align: center;
}