#home {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #394982;
    color: white; 
    padding: 25px 35px;
}

#introduction-text {
    text-align: center;
    padding-bottom: 30px;
}

#principles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.principle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.principle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principle-icon-container {
    margin-right: 20px;
}

.principle-icon {
    font-size: 50px;
    color: #394982;
}

.principle-description {
    text-align: center;
    margin: 0px 30px;
}

#pound-icon {
    height: 55px;
    width: 40px;
}

#customer-satisfaction-text {
    display: block;
    opacity: 100%;
}

#excellent-results-text {
    display: block;
    opacity: 100%;
}

#competitive-pricing-text {
    display: block;
    opacity: 100%;
}

#reliability-text {
    display: block;
    opacity: 100%;
}

@media screen and (max-width: 800px) {
    #customer-satisfaction-text {
        display: none;
        opacity: 0%;
    }
    
    #excellent-results-text {
        display: none;
        opacity: 0%;
    }
    
    #competitive-pricing-text {
        display: none;
        opacity: 0%;
    }
    
    #reliability-text {
        display: none;
        opacity: 0%;
    }
}

#why-choose-castle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

#why-description {
    padding: 0px 30px;
    text-align: center;
}

#contact-us-button {
    margin-top: 20px;
}