#recent-projects {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    #recent-projects {
        align-items: flex-start;
    }
}

#projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    #projects-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.project-description {
    text-align: center;
    padding: 0px 15px;
}

.project-image {
    width: 75%;
    border: 1px solid black; /*To remove when images are uploaded*/
}