#services {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 95%;
    margin: 30px auto 0px auto;
}

@media screen and (max-width: 800px) {
    #services {
        align-items: flex-start;
        padding-bottom: 75px;
        max-width: none;
        margin: 10px 10px 0px 10px;
    }
}

#service-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #service-container {
        flex-direction: column;
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service + .service {
    margin-top: 20px;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.service-description {
    text-align: center;
    padding: 0px 20px;
}

.service-img {
    width: 75%;
    border: 1px solid black; /*To remove when images are uploaded*/
}