/* font-size: 62.5% now means that 1.0 rem = 10px */
html { 
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: "Mukta-ExtraLight", serif;
    margin: 0px;
    font-weight: 400;
    color: #707070;
    background-color: white;
    overflow: hidden;
    height: 100%;
}

*{ 
    font-size: 1.4rem;
    line-height: 1.6rem;
}

p {
    margin: 0px;
    line-height: 20px;
    font-size: 2rem;
    line-height: 2.5rem;

}

@media screen and (max-width: 800px) {
    p {
        font-size: 1.75rem;
        line-height: 2rem;
    }
}

h3 {
    margin: 0px;
    font-size: 3rem;
    text-align: center;
    line-height: 30px;
    font-family: "Mukta-Light";
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    h3 {
        font-size: 2.5rem;
    }
}


h4 {
    margin: 0px;
    font-size: 2.75rem;
    text-align: center;
    line-height: 30px;
    font-family: "Mukta-Light";
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    h4 {
        font-size: 2.25rem;
    }
}


h5 {
    margin: 0px;
    font-size: 2.5rem;
    line-height: 30px;
    font-family: "Mukta-ExtraLight";
    font-weight: 400;
}

@media screen and (max-width: 800px) {
    h5 {
        font-size: 2rem;
    }
}


button {
    padding: 10px;
    width: 120px;
    background-color: white;
    border-radius: 0px;
    border: 0.5px solid #cccccc;
    color: white;
    font-size: 16px;
    background-color: #394982;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
}

input, textarea {
    outline: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
}

input:focus {
    outline: none;
}


textarea:focus {
    outline: none;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 64px);
    display: flex;
    gap: 50px;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    #content {
        width: 100%;
        max-width: 100%;
        display: block;
        gap: none;
    }
}

.full-screen-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px) {
    .full-screen-width {
        max-width: none;
        margin: 10px;
    }
}