/* font-size: 62.5% now means that 1.0 rem = 10px */
html { 
    font-size: 62.5%;
}

body {
    font-family: "Mukta-ExtraLight", serif;
    margin: 0px;
    font-weight: 400;
    color: #707070;
}

*{ 
    font-size: 1.4rem;
    line-height: 1.6rem;
}

p {
    margin: 0px;
}

h3 {
    margin: 0px;
    font-size: 2.5rem;
    text-align: center;
    line-height: 30px;
    font-family: "Mukta-Light";
    font-weight: 400;
}

h4 {
    margin: 0px;
    font-size: 2.25rem;
    text-align: center;
    line-height: 30px;
    font-family: "Mukta-Light";
    font-weight: 400;
}

h5 {
    margin: 0px;
    font-size: 2rem;
    line-height: 30px;
    font-family: "Mukta-ExtraLight";
    font-weight: 400;
}

#notch-header {
    width: 100%;
    height: 50px;
    background-color: black;
}