/* font-size: 62.5% now means that 1.0 rem = 10px */
html { 
    font-size: 62.5%;
}

body {
    font-family: "Mukta-ExtraLight", serif;
    margin: 0px;
    font-weight: 400;
    color: #707070;
    padding-bottom: 75px;
    background-color: white;
}

*{ 
    font-size: 1.4rem;
    line-height: 1.6rem;
}

p {
    margin: 0px;
    line-height: 20px;
}

h3 {
    margin: 0px;
    font-size: 2.5rem;
    text-align: center;
    line-height: 30px;
    font-family: "Mukta-Light";
    font-weight: 400;
}

h4 {
    margin: 0px;
    font-size: 2.25rem;
    text-align: center;
    line-height: 30px;
    font-family: "Mukta-Light";
    font-weight: 400;
}

h5 {
    margin: 0px;
    font-size: 2rem;
    line-height: 30px;
    font-family: "Mukta-ExtraLight";
    font-weight: 400;
}

button {
    padding: 10px;
    width: 120px;
    background-color: white;
    border-radius: 0px;
    border: 0.5px solid #cccccc;
    color: white;
    font-size: 16px;
    background-color: #394982;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
}

input, textarea {
    outline: none;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
}

input:focus {
    outline: none;
}


textarea:focus {
    outline: none;
}

@media screen and (max-width: 800px) {
    #content {
        width: 100%;
        max-width: 100%;
    }
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}