#survey {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 1000px;
    margin: 30px auto 0px auto;
}

@media screen and (max-width: 800px) {
    #survey {
        max-width: none;
        align-items: flex-start;
        padding-bottom: 75px;
        margin: 10px 10px 0px 10px;
    }
}

#survey-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0px 10px;
}